body{
    width: 100%;
    height: 100%;
    background-color: rgba(223, 217, 217, 0.2);
}
.login-content {
    display: table;
    background: url(img/background.svg);
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
}
.login-block{
    display: table-cell;
    vertical-align: middle;
}
.logo img{
    display: block;
    margin: 0 auto;
}
.logo h1, p{
text-align: center;
font-size: 40px;
}
.logo p{
    font-weight: bold;
}
.login-form{
    background-color:#e9ecef9a;
    border-radius: 8%;
    padding: 20px 40px;
}
.login-form h2{
    text-align: center;
    margin: 15px 0;
    font-weight: 400 ;
}
.social-link{
   text-align: center;
   margin: 16px 0;
}
.social-link i{
    margin: 0 10px;
    font-size: 30px;
    color: #212529;
    cursor: pointer;
}
  

/*HOMEPAGE*/

.left-panel{
    margin-top: 25px ;
    position: fixed;
}
.left-panel ul{
    margin-top: 20px ;
}
.left-panel li{
    margin: 10px  0 ;
}
.left-panel a{
    font-size: 15px;
    font-weight: bold;
    color: rgba(25, 25, 25, 0.774);
}
.left-panel i{
    display:inline-flex;
    align-items: center;
    margin-right: 10px;
}
.top-panel{
    
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    top: 0;
    padding: 10px 0 5px;
    z-index: 5;
    background-color: rgba(245, 240, 240, 0.2);
}

.search{
    width:84%;
    
   
}
.search input{
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5%;
    outline: none;
    background-color: rgba(233, 236, 239, 0.7);
}
.dropdown .btn{
    margin: 3px auto 17px;
}

.content-block{
    margin: 50px 0 ;
}
.btn-menu{
    font-size: 15px;
    font-weight: bold;
    color: rgba(25, 25, 25, 0.774);
   margin-top: 10px;
}
.info-content{
    font-size: 15px;
}
.content{
    margin-bottom: 100px;
}

/*slick-slider*/
.slick-slide:focus{
    outline: none;
}
.slick-prev::before {
    content: "\f0a8 ";
    font-family: "FontAwesome";
    color: #000;
    font-size: 20px;
}
.slick-next::before {
    content: "\f0a9";
    font-family: "FontAwesome";
    color:#000;
    font-size: 20px;
}
.slick-prev{
   left: 90%;
   top: -5%;
}
.slick-next{
    right: 5%;
    top: -5%;
 }
 .slick-slide{
     text-align: center;
 }
 .slick-slide img {
     border-radius: 50%;
     display: block;
     margin: 0 auto;
 }
 
 /*PLAYER*/
 .player{
     width: 100%;
     display: flex;
     justify-content: space-between;
     position: fixed;
     left: 0;
     bottom: 0;
     padding: 5px;
     background-color: #f0f0f0;
     color: rgba(25, 25, 25, 0.7);
 }
 .player .fa{
     cursor: pointer;
 }
 .player-left{
     display: flex;
     flex: 1;
     align-items: center;
     
 }
 .player-right{
    display: flex;
     flex: 1;
     align-items: center;
     justify-content: flex-end;
 }
 .player-right .fa{
     font-size: 20px;
     margin-left:20px;
 }
 .player h3{
     text-align: left;
 }
 .player-control .fa-fast-backward, .fa-fast-forward{
position: relative;
top: -8px;
font-size: 40px;
 }

 .player-control .fa-play-circle{
     font-size: 70px;
     margin: 0 20px;
 }
 

 /*LIST*/
 
 .list-info{
     display: flex;
     margin-top: 70px;
 }
 .list-info .info{
     align-self: flex-end;
 }
 .list-item{
     display: flex;
 }
 .list-item .fa-play-circle{
     font-size: 30px;
     margin: 0 10px;
 }
 .track-container{
    margin-top: 50px;
    color: rgba(25, 25, 25, 0.68);
}
.track-container ul{
    margin: 0;
    padding: 0;
}
.track-container ul li{
    border-top: 1px solid rgba(25, 25, 25, 0.4);
    padding: 10px 0;
}
.track-container h3{
    font-size: 15px;
}
 

/*ALBUMS*/
.ablums img{
display: block;
}
.albums p{
    text-align: left;
}
.albums-title{
    margin-top: 10px;
}